/*css file*/
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 230px;

}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-item{
color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
.primary-text{
    color: #FD6E0A;
}
.primary-btn{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
padding: 18px 35px 19px 36px;
font-size: 20px;
font-weight: 700;
} 
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#474747;
}
.header{
    background: #FFF8F3;
}
.banner{
    padding: 161px 38px 0px 230px;
    display: flex;
    align-items: center;
}
.banner-heading{
    color:#474747;
font-size: 45px;
font-weight: 600;
}
.banner-name{
    color:#181818;
font-size: 85px;
font-weight: 700;
}
.banner-description{
    color:#757575;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 585px;
}
.image{
    width: 584px;
height: 676px;
flex-shrink: 0;
}